body, html{
	height:100%;
	width:100%;
	background-color: beige;
	margin: 0;
}

/* HEADER */
#header {
	width: 100%;
	background-color: #046380;
	color: orange;
}

#header h1 {
	margin: 0;
	margin-left: 3%;
}

#header h3 {
	margin: 0;
	margin-left: 4%;
}

/* HEADER */
#footer {
	background-color: #046380;
	position: fixed;
	bottom: 0;	
	height: 50px;
	width: 100%;
} 

#footer p {
	margin: 0;
}

/* MENU */
#menu
{
	width: 100%;
	text-align: center;
	border-bottom: 2px solid grey;
}

#menu ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#menu ul li 
{
	/* size */
	min-height: 50px;
	/* position */
	margin: 0;
	vertical-align: middle;
	/* style */
	display: inline-block;
}

#menu ul li a {
	/* size */
 	min-width: 100px;
	padding: 20% 2%;
 	/* position */
	float: left;
 	/* text */
 	text-decoration:none;
	color: beige;
}

#menu ul li a:hover {
	color: #B09F91;
}

/* COORDS BAR */
#coordsBar {
	/* size */
	width: 25%;
	max-width: 500px;
	min-width: 300px;
	height: 100%;
	/* graphic */
	background-color: #333333;
}

#coordsBar .portrait {
	margin: 5%;
	margin-right:0px;	
}

#coordsBar .side {
	width: 50%;
	margin: 5%;
	margin-left: 0px;
	float: right;
	text-align: center;
}

#content {
	width:100%;
}


